body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 50px;
}
.main{
    display: flex;
    gap: 15px;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.listen{
    /* border: 2px solid red; */
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation: p 2s ease;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.blue{
    width: 20px;
    height: 20px;
    background-color: #4285F4;
    border-radius: 10px;
    animation:x1 10s ease-out;
    /* animation-iteration-count: 2; */
}
@keyframes x1 {
0%,10%{
    transform: translate(0px,0px);
    height: 20px;
    }
    5%,15%{
        transform: translate(0px,-20px);
        height: 20px;
    }  
   20%{
    transform: translate(0px,0px);
     height: 20px;
   }
    23%,28%,33%,38%,43%,48%,53%,58%{
        height: 100px;
        transform: translate(0px,0px);
    }
    25%,30%,35%,40%,45%,50%,55%{
    height: 25px;
    transform: translate(0px,0px);
   }
   60% ,65%,70%,75%,80%,85%{
    transform: translate(10px);
    height: 20px;
   }
   63%,68% ,73%,78%,83%,88%,90%{
    transform: translate(0px);
    /* height: 20px; */
   }
  91%{
    transform: translate(0px);
    /* height: 20px; */
   }
   93%{
    transform: translatey(-50px);
    /* height: 20px; */
   }
   95%{
    transform: translate(0px);
    /* height: 20px; */
   }
   100%{
    transform: translate(0px);
   }
   
   
   
}

.red{
    width: 20px;
    height: 20px;
    background-color:#DB4437;
    border-radius: 15px;
    animation:x2 10s ease-in-out;
    /* animation-iteration-count: 2; */
    animation-delay: 0.1s;
}
@keyframes x2 {
0%,10%{
    transform: translate(0px,0px);
    height: 20px;
    }
    5%,15%{
        transform: translate(0px,-20px);
        height: 20px;
    }  
   20%{
    transform: translate(0px,0px);
     height: 20px;
   }
    23%,28%,33%,38%,43%,48%,53%,58%{
        height: 100px;
        transform: translate(0px,0px);
    }
    25%,30%,35%,40%,45%,50%,55%{
    height: 25px;
    transform: translate(0px,0px);
   }
   60% ,65%,70%,75%,80%,85%{
    transform: translate(10px);
    height: 20px;
   }
   63%,68% ,73%,78%,83%,88%,90%{
    transform: translate(0px);
    /* height: 20px; */
   }
   91%{
    transform: translate(0px);
    /* height: 20px; */
   }
   93%{
    transform: translatey(-50px);
    /* height: 20px; */
   }
   95%{
    transform: translate(0px);
    /* height: 20px; */
   }
   100%{
    transform: translate(0px);
   }
   
   
}
.yellow{
     width: 20px;
    height: 20px;
    background-color: #FBBC05;
    border-radius: 10px;
    animation:x3 10s ease-in-out;
    /* animation-iteration-count: 2; */
    animation-delay: 0.2s;
}
@keyframes x3 {
0%,10%{
    transform: translate(0px,0px);
    height: 20px;
    }
    5%,15%{
        transform: translate(0px,-20px);
        height: 20px;
    }  
   20%{
    transform: translate(0px,0px);
     height: 20px;
   }
    23%,28%,33%,38%,43%,48%,53%,58%{
        height: 100px;
        transform: translate(0px,0px);
    }
    25%,30%,35%,40%,45%,50%,55%{
    height: 25px;
    transform: translate(0px,0px);
   }
   60% ,65%,70%,75%,80%,85%{
    transform: translate(10px);
    height: 20px;
   }
   63%,68% ,73%,78%,83%,88%,90%{
    transform: translate(0px);
    /* height: 20px; */
   }
     91%{
    transform: translate(0px);
    /* height: 20px; */
   }
   93%{
    transform: translatey(-50px);
    /* height: 20px; */
   }
   95%{
    transform: translate(0px);
    /* height: 20px; */
   }
   100%{
    transform: translate(0px);
   }
   
   
}
.green{
     width: 20px;
    height: 20px;
    background-color: #34A853;
    border-radius: 10px;
    animation:x4 10s ease-in-out;
    /* animation-iteration-count: 2; */
    animation-delay: 0.3s;
}
@keyframes x4 {
0%,10%{
    transform: translate(0px,0px);
    height: 20px;
    }
    5%,15%{
        transform: translate(0px,-20px);
        height: 20px;
    }  
   20%{
    transform: translate(0px,0px);
     height: 20px;
   }
    23%,28%,33%,38%,43%,48%,53%,58%{
        height: 100px;
        transform: translate(0px,0px);
    }
    25%,30%,35%,40%,45%,50%,55%{
    height: 25px;
    transform: translate(0px,0px);
   }
   60% ,65%,70%,75%,80%,85%{
    transform: translate(10px);
    height: 20px;
   }
   63%,68% ,73%,78%,83%,88%,90%{
    transform: translate(0px);
    /* height: 20px; */
   }
   91%{
    transform: translate(0px);
    /* height: 20px; */
   }
   93%{
    transform: translatey(-50px);
    /* height: 20px; */
   }
   95%{
    transform: translate(0px);
    /* height: 20px; */
   }
   100%{
    transform: translate(0px);
   }
   
   
}

   
  
